@model IEnumerable<Degree_Application.Models.ItemModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<p>Search</p>

<form asp-action="Index" class="form-inline" method="get">

    <input type="text" class="form-control" placeholder="Enter your search here" name="search" />
    <input type="submit" class="btn btn-primary" value="Filter" />

</form>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> @Html.DisplayNameFor(model => model.Title)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">  @Html.DisplayNameFor(model => model.DatePosted)</a>
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Account.UserName)
            </th>

            <th>

                @Html.DisplayNameFor(model => model.Account.PostCode)

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">  @Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePosted)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Account.UserName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Account.PostCode)
                </td>

                <td>
                    <div class="btn-group btn-group-sm">
                        <div class="btn-group btn-group-sm">
                            <a asp-action="Edit" class="btn btn-sm btn-primary" asp-route-id="@item.Id">Edit</a>
                        </div>
                        <div class="btn-group btn-group-sm">
                            <a asp-action="Details" class="btn btn-sm btn-primary" asp-route-id="@item.Id">Details</a>
                        </div>

                        <div class="btn-group btn-group-sm">
                            <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.Id">Delete</a>
                        </div>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
